
/*fuente poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/*Generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background-color: black;
}

/*Barra de navegación*/

.navbar-expand-lg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
/*estilo logo personal*/
.navbar-brand{ 
    font-size: 3rem;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.navbar-brand:hover{
    transform: scale(1.1);
    text-shadow: 0 0 25px aqua;
}
.navbar-brand span{
    text-shadow: 0 0 50px aqua;
}
.navbar-brand span{
    color: aqua;
}

/*estilo lista menu nav*/
.navbar-nav{
    display: flex;
    flex-grow: 1; 
    justify-content: end;
}
.nav-item { 
    margin: 0 2rem;
}

.navbar-nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3 ease;
    border-bottom: 3px solid transparent;
}

.navbar-nav a.Active { 
    color: aqua !important;
    border-bottom: 3px solid aqua;
    text-decoration: none;
    
}

.navbar-nav a:hover { 
    color: aqua !important; 
    border-bottom: 3px solid aqua;
    text-decoration: none;
 }

 /*estilo botón nav menu*/
.navbar-toggler-icon{
    font-size: 3rem;
     color: aqua !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  

/*Seccion home*/

section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
/*estilo texto home*/

h1{
    color: white;
}

h1 span{
    color: rgb(195, 0, 255);
}
h3{
    color: white;
}
h3 span{
    color: aqua;
}

.home-content h3 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1rem;
    line-height: 1;
}

.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
    color: white;
}

/*estilo imagen home*/
.home-img {
    border-radius: 50%;
}
.home-img img{
    position: relative;
    top: 3rem;
    width: 32vw;
    border-radius: 80%;
    box-shadow: 0 0 25px rgb(195, 0, 255) ;
}
.home-img img:hover{
    box-shadow: 0 0 25px rgb(195, 0, 255),
                0 0 50px rgb(195, 0, 255),
                0 0 100px rgb(195, 0, 255);
}
/*estilo iconos social*/
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid aqua;
    font-size: 2.5rem;
    border-radius: 50%;
    color: rgb(205, 128, 233);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: aqua;
    transform: scale(1.3) translateY(-5px);
    text-shadow: 0 0 25px aqua;
    
}


/*estilo general botones */
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 4rem !important;
    letter-spacing: 0.1rem !important;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

/* Estilo del botón Hire*/
.btn-hire {
    background-color: aqua;
    color: black !;
    box-shadow: 0 0 25px aqua;
    border: 2px solid transparent;
}

.btn-hire:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px aqua;
    color: white;
    
}

/* Estilo del botón Contact */
.btn-contact {
    background-color: black;
    color: aqua;
    border: 2px solid aqua;
    box-shadow: 0 0 25px transparent;
}

.btn-contact:hover {
    background-color: aqua;
    color: black;
    box-shadow: 0 0 25px aqua;
}

/* Estilo del grupo de botones */
.btn-group {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

/*animación texto*/

.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "Developer software";
    color: aqua;
    animation: words 20s infinite;
}
/*estilo barra de animacion escritura*/
.text-animation span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8px;
    animation: cursor 0.6s infinite,typing 20s steps(14)infinite;
    
}
@keyframes cursor{
    to{
        border-left: 2px solid rgb(31, 192, 192);
    }
}
@keyframes words{
    0%,
    20%{
        content: "Full-stack developer";
    }
    21%,
    40%{
        content: "Junior developer";
    }
    41%,
    60%{
        /* content: ""; */
    }
    61%,
    80%{
        /* content:""; */
    }
    81%,
    100%{
        /* content:""; */
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%, 
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}

/*About me*/

.about-me {
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.about-me-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

/* estilo Imagen */
.about-me-image {
    flex: 1;
    max-width: 40%; /* Imagen ocupa 40% del contenedor */
}

.about-me-image img {
    width: 100%; /* Asegura que la imagen se ajuste al contenedor */
    height: auto;
    border-radius: 30px;
    box-shadow: 0 0 25px aqua;
    margin-top: 5rem;
    margin-left: 3rem;
    filter: grayscale(100%);
}
.about-me-image img:hover{
    box-shadow: 0 0 25px rgb(146, 61, 172),
                0 0 50px rgb(74, 170, 170),
                0 0 100px rgb(23, 24, 24);
    filter: grayscale(0%);            
}


/* estilo texto */
.about-me-text {
    flex: 1;
    max-width: 55%; 
    font-family: 'poppins' sans-serif;
    gap: 32px;
}

.about-me-text h2{
    color: black;
    font-size: 8rem;
    
}
.about-me-text span{
    color: rgb(195, 0, 255);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.about-me-text p {
    line-height: 22px;
    font-size: 1.7rem;
    font-weight: 300px;
    color: black;
    margin-right: 3rem;
}

/* Responsive */
@media (max-width: 768px) {
    .about-me-container {
        flex-direction: column;
    
    }

    .about-me-image,
    .about-me-text {
        max-width: 100%; /* Imagen y texto ocupan todo el ancho */
        text-align: center; /* Centra el texto en pantallas pequeñas */
        
    }

    .about-me-image img {
        max-width: 80%; /* Ajusta el tamaño de la imagen en pantallas pequeñas */
        margin: 0 auto;
    }
}


/*Education*/

.heading{
    font-size: 8rem;
    text-align: center;
    margin:5rem 0;
    color: white;
}
.education{
    padding: 100px 15px;
    background:black;
}
.education h2{
    margin-bottom: 5rem;
}
.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: aqua;
    left: calc(50% - 1px);
}
.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: aqua;
    box-shadow: 0 0 25px aqua,
                0 0 50px aqua;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;        
}

.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}
.timeline-content{
    border: 3px solid aqua;
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px aqua;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.timeline-content:hover{
    transform:  scale(1.05);
    box-shadow: 0 0 25px aqua;
}
.timeline-content h3{
    font-size: 20px;
    margin: 0 0 10px;
    font-weight: 500;
}
.timeline-content p{
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    color: white;
}
/*barra lateral que desliza*/

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: aqua;
}
::-webkit-scrollbar-track{
    background-color: black;
    width: 50px;
}

/*Services*/

.services{
    background: rgb(44, 213, 213);
    color: black;
    padding: 40px 20px; 
    text-align: center;
}
.services h2{
    margin-bottom: 5rem;
    color: black;
    text-shadow: 0 0 25px rgb(251, 252, 252);
    font-size: 8rem;
}
.services-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem; 
    justify-content: center;
}
.service-box{
    background-color: rgb(255, 255, 255);
    height: 300px;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    
}
.service-box:hover{
    background-color: black;
    color: rgb(247, 245, 245);
    border: 5px solid  rgb(195, 0, 255);
    transform: scale(1.03);
}
.service-box .service-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: left;
    align-items: baseline;
    padding: 5rem 5rem ;
}
.service-info h4{
    font-size: 3rem;
    font-weight: 800;
    line-height: 2;
}
.service-info p{

    font-size: 1.6rem;
    font-weight: 600;
    max-height: 100px;
    line-height: 1.7;
    margin: auto;
}
/*Testimonials*/

.testimonials-box{
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.testimonials .heading{
    margin-bottom: 5rem;
}
.testimonials-box img{
    width: 15rem;
    border-radius: 50%;
    border: 3px solid aqua;
    box-shadow: 0 0 25px aqua;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}
.testimonials-items{
    min-height: 550px;
    max-width: 450px;
    border: 3px solid aqua;
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: white;
    transition: 0.4s ease-in-out;
}
.testimonials-items:hover{
    border: 3px solid aqua;
    transform: translateY(-10px)scale(1.03);
    box-shadow: 0 0 50px aqua;
}
.testimonials-items h2{
    font-size: 2.8rem;
}
.testimonials-items p{
    font-size: 1.3rem;
}
#star{
    color: gold;
}
/*Contact*/

.contact{
    background-color:  rgb(195, 0, 255);
}
.contact h2{
    margin-bottom: 3rem;
    color: white;
}
.contact h2 span{
    color: aqua;
}
.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: gray;
    border: 2px solid aqua;
    border-radius: 2rem;
    margin: 1.5rem 0;
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
    background-color: aqua;
    color: black;
    box-shadow: 0 0 25px aqua;
    border: 2px solid transparent;  
    font-weight: 600;
    gap: 1.5rem;
}
.contact form .btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px aqua;
    background: black;
    color: white;
}

/*Footer*/

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color:  rgb(128, 226, 233);
}
.footer .social a{
    font-size: 25px;
    color: rgb(205, 128, 233);
    border: 2px solid aqua;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.footer .social a:hover{
    transform: scale(1.2) translateY(-10px);
    background-color: aqua;
    color: black;
    box-shadow: 0 0 25px aqua;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3 ease-in-out;
    text-decoration: none;
}
.footer ul li a:hover{
    border-bottom: 3px solid aqua;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: aqua;
}

/*responsive general*/

@media(max-width:1285px){

    html{
        font-size: 55%;
    }
  
    .services-container {
        grid-template-columns: 1fr 1fr;
    }

    .service-box {
        height: auto; 
        padding: 6rem 0;
    }
    .services h2{
        font-size: 8rem;
    }

    .service-info h4 {
        font-size: 2.2rem;
    }

    .service-info p {
        font-size: 1.4rem;
    }
}


@media(max-width:991px){
    .navbar-expand-lg{
        padding: 2rem 3%;
    }
    .text-animation{
        padding: 10rem 3% 2rem;
    }
   
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }
    .services-container {
        grid-template-columns: 1fr;
    }

    .services h2 {
        font-size: 8rem;
    }

    .service-box {
        padding: 2rem;
    }

    .service-info h4 {
        font-size: 2rem;
    }

    .service-info p {
        font-size: 1.6rem;
    }
    
    .testimonials .wrapper{
        grid-template-columns: repeat(1,1fr);
        padding-bottom: 5rem;
    }
    .contact form{
        flex-direction: column;
    }
    .footer{
        padding: 2rem 3%;
    }
}


@media(max-width:895px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position:absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: black;
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid aqua;
        border-bottom: 2px solid aqua;
        display: none;
    }
    .navbar .Active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }
    .home-content h1{
        font-size: 8rem;
        margin-top: 3rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .home-img img{
        width: 56vw;
    }
    .services {
        padding: 20px 10px;
    }

    .services h2 {
        font-size: 8rem;
    }

    .service-box {
        padding: 1rem;
    }

    .service-info h4 {
        font-size: 2rem;
    }

    .service-info p {
        font-size: 1.3rem;
    }

}
